<h2>Edit Details of a Meal</h2>

<form method = "post" action = "/meals/<%= @meal.id %>">
    <input id = "hidden" type = "hidden" name = "_method" value = "patch">
    <label><b>Meal Date: </b></label>
    <input type = "date" name = "date" id = "date" value = "<%= @meal.date %>"><br><br>
    <label><b>Meal Calories: </b></label>
    <input type = "integer" name = "calories" id = "calories" value = "<%= @meal.calories %>"><br><br>
    <label><b>Meal Type: </b></label>
    <select id="name" name ="name" value = "<%= @meal.name %>">
        <option value ="Breakfast">Breakfast</option>
        <option value ="Lunch">Lunch</option>
        <option value ="Dinner">Dinner</option>
        <option value ="Snack">Snack</option>
        <option value ="Dessert">Dessert</option>
        </select>
        <br><br>
    <label><b>Prepared By: </b></label>
    <select id="prepared_by" name ="prepared_by" value = "<%= @meal.prepared_by %>">
        <option value ="Myself">Myself - at home</option>
        <option value ="Restaurant">Restaurant</option>
        <option value ="Restaurant-takeout">Restaurant - takeout</option>
    </select>
    <br><br>      
    <label><b>Meal Rating: </b></label>
    <select id="rating" name ="rating" value = "<%= @meal.rating %>">
        <option value ="Yummy!!">Yummy!!</option>
        <option value ="Meh">Meh</option>
        <option value ="Yucky!">Not Yummy!</option>
    </select>
    <br><br>
    <label><b>Meal Description: </b></label><br>
    <textarea rows="4" cols="50" name = "description" id = "description" value ="<%= @meal.description %>">
    <%= @meal.description %>
    </textarea><br><br>
    <input type = "submit" value = "Submit Edit">
</form>
<br>
<form method = "post" action = "/meals/<%= @meal.id %>/delete">
    <input type = "submit" value = "Delete This Meal">
    </form>
<br>
<a href ="/meals">View All Your Meals</a>
<br>


