
<% if flash.has?(:created_meal_message) %>
<p style="color: red;"><b><%=flash[:created_meal_message] %></b></p>
<% end %>
<% if flash.has?(:sign_up_message) %>
<p style="color: red;"><b><%= flash[:sign_up_message] %></b></p>
<% end %>
<% if flash.has?(:deleted_message) %>
<p style="color: red;"><b><%= flash[:deleted_message] %></b></p>
<% end %>
<br><br>

<h2>Welcome <%=@user.username%>!</h2>

<h3><%=@user.username%>'s Meal Journal</h3>
<br>
<% if !@user.meals.empty? %> 
    <% @user.meals.each do |meal| %>
            <li><a href = "/meals/<%= meal.id %>"><%= meal.name %></a> - <%= meal.date %> - Rating: <%= meal.rating %></li>
    <% end %>
    <a href = "/meals/new">Create a New Meal</a>
    <br>
<% else %>
    <p>You haven't created any meals yet in your journal.  <a href = "/meals/new"><button>Create a New Meal</button></a><br> 
    </p>
<% end %>
    <br>
