<% if flash.has?(:edited_message) %>
    <%= flash[:edited_message] %>
<% end %>

<h2>Individual Meal Details</h2>
<ul>
<b>Username: </b> <%= @user.username %><br><br>
<b>Date: </b> <%= @meal.date %><br>
<b>Type: </b> <%= @meal.name %><br>
<b>Prepared By: </b> <%= @meal.prepared_by %><br> 
<b>Description: </b> <%= @meal.description %><br>
<b>Calories: </b> <%= @meal.calories %><br>
<b>Rating: </b> <%= @meal.rating %><br>
</ul>

<br>
<a href ="/meals/<%= @meal.id %>/edit"><button>Edit or Delete This Meal</button></a> 
<br>
<br>
<a href ="/meals"><button>View All Your Meals</button></a>
<br><br>
<a href = "/logout"><button>Log Out</button></a>

